.testimonios-container {
  background-color: #f3f3f3;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  width: 100%; /* Define el ancho que prefieras */
  max-width: 600px; /* o el ancho máximo que prefieras */
  margin: auto; /* Centra el contenedor */
}

.testimonios-container h2 {
  color: #5a5a5a;
  margin-bottom: 10px;
}

.carrusel {
  overflow: hidden;
  position: relative;
}

.slides {
  display: flex;
  width: 300%; /* 3 slides * 100% cada uno */
}

.testimonio {
  min-width: 33.3333%; /* 1/3 del ancho total para cada slide */
  box-sizing: border-box;
  padding: 15px;
  border-radius: 8px;
  margin: 10px 0;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* Ocultar los inputs radio */
.controles-carrusel .slide-radio1,
.controles-carrusel .slide-radio2,
.controles-carrusel .slide-radio3 {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* Estilizar indicadores */
.controles-carrusel label {
  height: 10px;
  width: 10px;
  background-color: #bbbbbb;
  display: inline-block;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}

/* Mover las slides con los inputs radio */
.slide-radio1:checked ~ .carrusel .slides {
  transform: translateX(0%);
}

.slide-radio2:checked ~ .carrusel .slides {
  transform: translateX(-33.3333%);
}

.slide-radio3:checked ~ .carrusel .slides {
  transform: translateX(-66.6667%);
}

/* Cambiar color al indicador activo */
.slide-radio1:checked ~ .controles-carrusel label[for="slide1"],
.slide-radio2:checked ~ .controles-carrusel label[for="slide2"],
.slide-radio3:checked ~ .controles-carrusel label[for="slide3"] {
  background-color: #7a7a7a;
}